
#events {
    height: auto;
    width: 90%;
    margin: auto;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-color: red;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1.2vw;
}

#event1 {
    background-color: pink;
    text-align: center;
    border-radius: 10px;
    font-size: 1.6vw;
    height: 3.5vw;
    width: 13vw;
    border-color: red;
}

@media (max-width: 768px) {
    #events{
        font-size: 3vw;
    }

    #event1{
        font-size: 5vw;
        height: 7vw;
        width: 40vw;
    }
}

#event1:hover {
    cursor: pointer;
    transform: scale(1.05); /* Delikatne powiększenie bloku */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Zwiększenie cienia dla lepszego efektu */
}
