body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #A99071;
    background-size: cover; /* Dopasowanie obrazu do rozmiaru */
    background-attachment: fixed; /* Tło pozostaje nieruchome */
    background-position: center;
    height: 100vh; /* Pełna wysokość widoku */
    overflow: hidden; /* Ukryj przewijanie na body */
    position: relative; /* Dodanie pozycji względnej do tła */
    background-size: 110%;
}

.main {
    width: 65%;
    height: 94vh; /* Wypełnia całą wysokość przeglądarki */
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.3); /* Lekko przezroczyste tło */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto; /* Włącz przewijanie, jeśli zawartość wykracza poza wysokość */
}

#logo {
    height: 15vw;
}

@media (max-width: 768px) {
    .main {
        width: 90%; /* Zwiększona szerokość na telefonie */
        max-width: 100%; /* Pozwala wypełnić ekran */
        border-radius: 0px;
    }

    #logo {
        height: 20vw;
    }
}

.main::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4 {
    text-align: center;
}

a {
    text-decoration: none; /* Wyłącza podkreślenie */
    color: inherit; /* Ustawia kolor dziedziczony z elementu nadrzędnego */
}

.link {
    background-color: white;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
}

.post {
    width: 50%;
    height: fit-content;
    float: left;
    align-items: center;
    justify-content: center;
    display: flex;
}

.ig {
    width: fit-content;
    height: fit-content;
}


@media (max-width: 768px) { /* Jeśli szerokość ekranu ≤ 768px (mobilne) */
.instagram-media {
    zoom: 70%;
}
.post {
    width: 100%;
    float: none;
    align-items: center;
    justify-content: center;
    display: flex;
}
}


#stopka {
    height: fit-content;
}
